---
import Layout from "../layouts/Layout.astro";
import Profile from "../components/Profile.astro";
import Skills from "../components/Skills.astro";
---

<Layout title="Andrés Castillo | Front End Developer">
  <div class="container m-auto h-full flex flex-col justify-center">
    <Profile />
    <Skills />
  </div>
</Layout>
