---
import Icon from "../components/icon/Icon.astro";
---

<footer>
  <div class="flex justify-center gap-4">
    <a
      class="text-surface2-light dark:text-surface2"
      href="https://x.com/acastillodev"
      target="_blank"><Icon icon="X" /></a
    >
    <a
      class="text-surface2-light dark:text-surface2"
      href="https://github.com/acastillo9"
      target="_blank"><Icon icon="Github" /></a
    >
    <a
      class="text-surface2-light dark:text-surface2"
      href="https://www.linkedin.com/in/acastillo119/"
      target="_blank"><Icon icon="LinkedIn" /></a
    >
    <a
      class="text-surface2-light dark:text-surface2"
      href="mailto:info@acastillo.dev"><Icon icon="Envelope" /></a
    >
  </div>
</footer>
