---
import Icon from "../components/icon/Icon.astro";
---

<footer>
  <div class="flex justify-center gap-4">
    <a href="https://x.com/acastillodev" target="_blank"><Icon icon="X" /></a>
    <a href="https://github.com/acastillo9" target="_blank"
      ><Icon icon="Github" /></a
    >
    <a href="https://www.linkedin.com/in/acastillo119/" target="_blank"
      ><Icon icon="LinkedIn" /></a
    >
    <a href="mailto:info@acastillo.dev"><Icon icon="Envelope" /></a>
  </div>
</footer>
