---
import Skill from "./Skill.astro";
---

<section>
  <h2
    class="text-2xl font-bold text-yellow-light dark:text-yellow mb-10 text-center underline"
  >
    My Skills
  </h2>
  <div class="flex gap-8 flex-wrap justify-center">
    <Skill title="HTML" icon="Html5" />
    <Skill title="CSS" icon="Css3" />
    <Skill title="Javascript" icon="Javascript" />
    <Skill title="Typescript" icon="Typescript" />
    <Skill title="Vue.js" icon="Vue" />
    <Skill title="Angular" icon="Angular" />
    <Skill title="React" icon="React" />
    <Skill title="Svelte" icon="Svelte" />
    <Skill title="Astro" icon="Astro" />
    <Skill title="Jest" icon="Jest" />
    <Skill title="Cypress" icon="Cypress" />
    <Skill title="Node.js" icon="Node" />
    <Skill title="Nest" icon="Nest" />
  </div>
</section>
