---
import "@fontsource-variable/fira-code";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import TsParticles from "../components/TsParticles.tsx";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html class="bg-base-light dark:bg-base" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="-z-50 h-screen w-screen absolute">
      <TsParticles client:load />
    </div>
    <div class="flex flex-col md:h-screen">
      <Header />
      <main class="p-4 md:flex-1">
        <slot />
      </main>
      <div class="flex items-end justify-center mt-10 mb-4">
        <Footer />
      </div>
    </div>
  </body>
</html>

<style is:global>
  html {
    font-family: "Fira Code Variable", monospace;
  }
</style>

<script is:inline>
  const theme = (() => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  })();

  if (theme === "light") {
    document.documentElement.classList.remove("dark");
  } else {
    document.documentElement.classList.add("dark");
  }
  window.localStorage.setItem("theme", theme);
</script>
